<form ng-submit='userCtrl.register()'>
<!-- 	<label>First Name: <input type="text" name="first_name" ng-model='userCtrl.regUser.first_name'></label>
	<label>Last Name: <input type="text" name="last_name" ng-model='userCtrl.regUser.last_name'></label> -->
	<label>Username: <input type="text" name="username" ng-model='userCtrl.regUser.username'></label>
	<label>Password: <input type="password" name="password" ng-model='userCtrl.regUser.password'></label>
	<label>Confirm Password: <input type="password" name="password_confirm" ng-model='userCtrl.regUser.password_confirm'></label>
	<input type="submit" value="Register">
</form>